{% load static %}
<html>
    <head>
        <title>Nasze Kino</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/Strona_kino.css' %}">
    </head>
    <body>
        <div class="page-header">
            {% if user.is_authenticated %}
                <h2 class="top-menu">Zalogowany</h2>
                {% else %}
                <h2 class="top-menu"><a href="{% url 'login_site' %}">Zaloguj się</a></h2>
            {% endif %}
            <h1><a href="/">Nasze Kino</a></h1>
            <nav class="breadcrumb">
              <a class="breadcrumb-item" href="{% url 'main_site' %}">Home</a>
              <a class="breadcrumb-item" href="{% url 'login_site' %}">Logowanie</a>
              <a class="breadcrumb-item" href="#">PUSTY</a>
            </nav>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>